@(title: String, nick: String)(implicit request: RequestHeader)

@main(title) {
  <div class="container">
  <h2>Chatroom - You are @nick</h2>
  <form id="chatform" class="form-inline">
    <input id="text" class="form-control" placeholder="Say something...">
    <button type="submit" class="btn btn-info">Say</button>
  </form>
  <ul class="chat" id="messages"></ul>
  </div>

  <script type="text/javascript">
    $(function() {
      ws = new WebSocket("@routes.Chat.chatSocket(nick).webSocketURL()");
      ws.onmessage = function(msg) {
        var data = JSON.parse(msg.data);
        var el = $('<div class="chat-body clearfix"><span class="header chat-header"></span><p></p></div>');
        $("span", el).text(data.nick);
        $("p", el).text(data.message);
        $('<li/>').append(el).appendTo('#messages');
      };

      $('#chatform').submit(function() {
        ws.send($('#text').val());
        $('#text').val("").focus();
        return false;
      });
    })
  </script>
}