@(title: String, nick: String)(implicit request: RequestHeader)

@main(title) {
  <div class="container">
  <h2>Chatroom - You are @nick</h2>
  <form id="chatform" class="form-inline">
    <input id="text" class="form-control" placeholder="Say something...">
    <button type="submit" class="btn btn-info">Say</button>
  </form>
  <ul class="chat" id="messages"></ul>
  </div>

  <script type="text/javascript">
    $(function() {
      ws = new WebSocket("@routes.Chat.chatSocket(nick).webSocketURL()");
      ws.onmessage = function(msg) {
        $('<li/>').text(msg.data).appendTo('#messages')
      };

      $('#chatform').submit(function() {
        ws.send($('#text').val());
        $('#text').val("").focus();
        return false;
      });
    })
  </script>
}