body { color:black; background-color:#D0E7EF; }
body, p, label { font-size:15px; }
.navbar-fixed-top .navbar-inner { padding-left:20px; }
.content { padding-top: 70px; }
table { border-collapse: collapse; width:100%; position:relative; }
td { text-align:left; padding: 0.3em 0; border-bottom: 1px solid white;
    vertical-align:top; }
tr:hover td, tr:focus td { background-color:white; }
tr:focus { outline:0; }
td .label { position:absolute; right:0; }